<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="container">
        <div class="modal">
            <form class="form" method="post" action="/admin/department">
                <input type="text" class="inputText" name="name" placeholder="название">
                <input type="text" class="inputText" name="note" placeholder="заметка">
                <input type="text" class="inputText" name="parentId" placeholder="id родительского отдела">
                <input type="submit" class="inputSubmit" value="add">
            </form>
            <th:block th:if="${departments != null}">
                <table class="table">
                    <tr>
                        <th>id</th>
                        <th>Название</th>
                        <th>Заметка</th>
                        <th>^ отдел</th>
                    </tr>
                    <tr th:each="dept: ${departments}">
                        <td>[[${dept.id}]]</td>
                        <td>[[${dept.name}]]</td>
                        <td>[[${dept.note}]]</td>
                        <td th:if="${dept.parentDpt != null}">[[${dept.parentDpt.id}]]</td>
                        <td th:unless="${dept.parentDpt != null}">root</td>
                    </tr>
                </table>
            </th:block>
        </div>
    </div>
</body>
</html>